@page
@model WEB_153501_Kosach.Areas.Admin.IndexModel

@{
    ViewData["Title"] = "Index";

    int prev = Model.CurrentPage == 1 ? 1 : Model.CurrentPage - 1;

    int next = Model.CurrentPage == Model.TotalPages
                                    ? Model.TotalPages
                                    : Model.CurrentPage + 1;
}

<h1>Панель администратора</h1>
@if (User.Identity.IsAuthenticated) {
    <p>Every logged in user will see this including the paragraph above</p>
}

@if(User.IsInRole("admin")) {
    <p>Only a user thats admin will see this + the paragraphs above</p>
}
<p>
    <a asp-page="Create" class="btn btn-primary">
        <i class="fa-regular fa-square-plus"></i>  Create New
        </a>
</p>

<!-- выбор категории -->
<div class="col-2 border-2">
    <ul class="nav ">
        <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle"
               data-bs-toggle="dropdown"
               href="#"
               role="button"
               aria-expanded="false">
                @Model.CurCategory
            </a>
            <ul class="dropdown-menu">
                <li>
                    <a class="dropdown-item"
                        asp-route-category=@null>Все</a>
                </li>
                @foreach (var item in Model.Categories)
                {
                    <li>
                        <a class="dropdown-item"
                               asp-route-category="@item.NormalizedName">
                            @item.Name
                        </a>
                    </li>
                }
            </ul>
        </li>
    </ul>
</div><!-- выбор категории -->

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Furniture[0].Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Furniture[0].Price)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Furniture[0].Image)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.Furniture) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Price) руб.
            </td>
            <td>
                    <img src="@item.Image" alt="Hmmm..." width="300" height="220">
            </td>
            <td>
                <a asp-page="./Details" asp-route-id="@item.Id"
                    class="btn btn-outline-success">
                    <i class="fa-solid fa-info"></i>  Details
                </a>
                <a asp-page="./Edit" asp-route-id="@item.Id"
                    class="btn btn-outline-dark">
                    <i class="fa-solid fa-pen-to-square"></i>  Edit
                </a>
                <a asp-page="./Delete" asp-route-id="@item.Id"
                    class="btn btn-outline-danger">
                    <i class="fa-solid fa-eraser"></i>  Delete
                </a>
            </td>
        </tr>
}
    </tbody>
</table>

<nav aria-label="Page navigation">
    <ul class="pagination">
        <li class="page-item">
            <a class="page-link" asp-route-pageno="@prev" asp-route-category="@Model.Category" aria-label="Previous">
                <span aria-hidden="true">&laquo;</span>
            </a>
        </li>
        @for (int i = 1; i <= Model.TotalPages; i++)
        {
            <li class="page-item @(Model.CurrentPage == i ? "active" : "")">
                <a class="page-link" asp-route-pageno="@i" asp-route-category="@Model.Category">@i</a>
            </li>
        }
        <li class="page-item">
            <a class="page-link" asp-route-pageno="@next" asp-route-category="@Model.Category" aria-label="Next">
                <span aria-hidden="true">&raquo;</span>
            </a>
        </li>
    </ul>
</nav>
